* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #1f1f1f;
}

main {
  overflow-x: scroll;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  border: 1px solid white;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
